/* GLOBAL STYLES PRADEEP*/
/* COLOR1=#f01e28 COLOR1=#2a86a5  COLOR1=#5a3f2c  */

html, body { height: 100%; width: 100%; }
body { color: #444; font-size:15px ; font-family: 'Source Sans Pro', sans-serif; background: #f9f9f9; overflow-x: hidden; }
    body.login { padding-top: 0; }
/* CUSTOMIZE */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color: #5c5f62; font-weight: normal; }

h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
a { color: #2a86a5; text-decoration: none; }
    .nav a, a.btn { text-decoration: none; }
    a:hover { color: #2a86a5; }
.navbar { margin: 0; }
.navbar-toggle { margin: 0; }
.navbar-brand { height: 50px; padding: 5px 0; }
    .navbar-brand img { height: 40px; }
.title-main { font-size: 1.6em; margin:0 0 10px 0 }
.bgtop { background: #6bc7e7; padding: 15px 0; box-shadow:0 4px 20px rgba(91, 192, 225, 0.6); position: fixed; top: 0; left: 0; right: 0; z-index: 9; transition: .3s ease all; width: 100%; }
.bgtopshad { padding: 0; }
.bggray { background: #f6f6f6; }
.relative { position: relative; }
.box { border: 1px solid #ccc; padding: 40px; margin-bottom: 20px; background: #fff; }
.box h2{ margin: 0 0 10px 0 }
.bggray { background: #f1f1f1; }
.bgwhite { background: #fff; }
.bglogin { background: url(../images/bglogin.jpg) no-repeat center center; background-size: cover; border-top: 2px solid #2a86a5; }
.logintitle{ font-size: 14px; text-align: center; margin: 0}
/*NAVIGATION STYLE*/
.nav.nav-staked.nav-sidemenu li a { padding:10px 2px 10px 5px;border-right: 5px solid #666; border-top: 1px solid #777;transition: .5s ease all;font-size: 10px; text-align: center; color: #eee; border-bottom: 1px solid #555;text-transform: uppercase; text-shadow: 1px 1px 0 #333;}
.nav.nav-staked.nav-sidemenu li a:hover{ background: #555;transition: .5s ease all;border-right-color: #555;}
.nav.nav-staked.nav-sidemenu li.active a{ border-right: 5px solid #6bc7e7;}
.nav.nav-staked.nav-sidemenu li a > span.lnr { font-size: 24px;margin: 0 auto 5px; display: block;}
.nav-main-tab-outer { border-bottom: 1px solid #dfc8d6; box-shadow: 0 10px 10px rgba(112, 6, 72, .1); position: relative; }
.nav-main-tab > li { width: 50%; float: left; }
    .nav-main-tab > li > a { font-size: 2em; padding: 5px 30px; background: transparent; border-width: 0 0 4px 0; border-style: solid; border-color: #fff; color: #333; }
        .nav-main-tab > li > a:hover, .nav-main-tab > li > a:focus { border-width: 0 0 4px 0; border-color: #2a86a5; color: #2a86a5; }
.nav-main-tab > .active > a, .nav-main-tab > .active > a:hover, .nav-main-tab > .active > a:focus { border-width: 0 0 4px 0; border-color: #2a86a5; border-style: solid; color: #2a86a5; }
.nav-main-tab > li:first-child > a { float: right; }
.nav-main-tab > li:last-child > a { float: left; }
.navbar-nav.navbar-right.nav-main:last-child { margin-right: 0; }
.nav-main { padding: 5px 0; }
    .nav-main > li > a, .nav-main > li > div > a { padding: 9px 25px; display: block; margin: 0; font-size: 18px; color: #fff; border-left: 1px solid #a0d9ec; }
    .nav-main > li > a.hasicon, .nav-main > li > div > a.hasicon { padding: 7px 15px 7px 60px}
    .nav-main > li a:hover, .nav-main > li a:focus { text-decoration: none; }
.nav-icon { width: 35px}
.sideMenuBg .txtmenu{ display: block;margin-top: 5px}
.user-placeholder { background: url(../images/user.jpg) no-repeat center center; top: 0; left: 15px; position: absolute; background-size: 100% auto; border-radius: 50%; width: 40px; height: 40px; display: block; }
/*PADDING AND MARGIN*/
.loginouter { margin: 15% 60px 0; }
.logininner { padding: 20px; background: rgb(255, 255, 255); box-shadow: 0 2px 3px 0 rgba(0,0,0,0.25); }
.loginlogo {    width: 240px;    margin: 0px auto 10px;}
    .logininner h1 { margin: 15px 0 20px; font-weight: 700; color: #2a86a5 }
.mar0 { margin: 0; }
.pad0 { padding: 0; }
.mar020 { margin: 0 20px; }
.mar200 { margin: 20px 0; }
.title { margin: 23px 30px; float: left; }
.marbot30 { margin: 0 0 30px 0; }
.martop10 { margin-top: 10px; }
.martop20 { margin-top: 20px; }
.marrt15 { margin-right: 15px; }
.pad0 { padding: 0; }
.pad10 { padding: 10px; }
.pad15 { padding: 15px; }
.pad20 { padding: 20px; }
.pad30 { padding: 30px; }
.pad1510 { padding: 10px 15px; }
.pad300 { padding: 30px 0; }
.pad60 { padding: 30px 60px; }
.pad600 { padding: 60px 0; }
.padmain { padding: 80px 15px 10px; }
.form-control.height90{height: 90px}
.heightfix{height: 100%}
.width100{ width: 100px}
/*BUTTON STYLE*/
.text-white { color: #fff; }
.text-dark { color: #333; }
.btn { padding: 6px 30px; text-transform: uppercase; border-radius: 0; transition: .3s ease all; }
.btn-primary { color: #fff; background-color: #2a86a5; border-color: #2a86a5; }
.btn-default { color: #fff; background-color:#888; border-color: #888; }
.btn-danger { color: #ca211b; background-color: #ffffff; border-color: #ca211b; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary { background: #2a86a5; color: #fff; border: 1px solid #2a86a5; }
.form-control { border-radius: 0; height: 36px; box-shadow: none }
.form-title{font-size: 18px; color: #68b43d; border-bottom: 1px solid #f9f9f9; padding: 20px 0 0 0;font-weight: 700;}
.input-group-addon { border-radius: 0; }
.form-control.txtarea { min-height: 150px; margin-bottom: 20px; }
.form-large .form-group { margin-bottom: 40px; }
textarea.form-control{min-height: 200px; width: 100%; overflow-x: hidden}
input[type=radio], input[type=checkbox] { transform: scale(1.2);}
.mandat{color: #f01e28}
label, thead th td { font-weight: normal; }
.modal-lg { width: 1100px; }
.modal-footer { text-align: center; }
.modal-header h4 i { margin-right: 10px; }
.modal-header .close { font-size: 30px; color: #666; text-shadow: none; opacity: 1; }
.modal-sm { min-width: 360px; }
.modal-backdrop { background: rgba(0, 0, 0, 0.3);; }
.nav.nav-pills.nav-mars { padding-bottom: 5px; }
.nav-mars.nav-pills > li > a { border-bottom: 2px solid #ddd; }
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus { border-bottom: 2px solid #2a86a5; color: #2a86a5; background: transparent; }
.nav-mars.nav-pills > li > a { padding: 2px 10px; border-radius: 0; margin-right: 5px; color: #999; }
.nav-mars.nav-pills > li.active > a { color: #2a86a5; }
.searchouter{padding-right: 20px;}
/*MATERIAL FORM STYLE*/
.md-input { position: relative; margin-bottom: 30px; }
    .md-input .md-form-control { font-size: 16px; padding: 10px 10px 10px 5px; display: block; border: none; border-bottom: 1px solid #666; box-shadow: none; width: 100%; outline: none; background: transparent; }
    .md-input label { color: #111; font-size: 16px; font-weight: normal; position: absolute; pointer-events: none; left: 5px; top: 10px; transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; }
    .md-input .bar:before { left: 50%; }
    .md-input .bar:after { right: 50%; }
    .md-input .highlight { position: absolute; height: 60%; width: 100px; top: 25%; left: 0; pointer-events: none; }
    .md-input .md-form-control:focus ~ label, .md-input .md-form-control:valid ~ label { top: -15px; font-size: 14px; color: #2a86a5; }
    .md-input .bar:before, .md-input .bar:after { content: ''; height: 2px; width: 0; bottom: 0px; position: absolute; background: #2a86a5; transition: 0.2s ease all; -moz-transition: 0.2s ease all; -webkit-transition: 0.2s ease all; }
    .md-input .md-form-control:focus ~ .bar:before, .md-input .md-form-control:focus ~ .bar:after { width: 50%; }
.badge { background: #2a86a5; border-radius: 50%; border: 1px solid #2a86a5; color: #fff; font-weight: normal; padding: 2px 4px; margin: 0 0 0 5px; }
    .badge:hover { background: #999; color: #fff; }
    .badge.onmenu { top: -5px; position: absolute; right: -5px; }
.table.table-theme thead tr { background: #f1f1f1; }
.table.table-theme td { padding: 10px; color: #000; }
.table > thead:first-child > tr:first-child > th { border-top: 0; color: #333; }
/*NAVBAR ANIMATION*/
.targetNew { cursor: pointer; }
#wrapper .wrapper { margin-left: 65px;background: #f8f8f8; padding: 110px 20px 10px 40px; position: relative; z-index: 2; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
    #wrapper.toggled .wrapper { margin-left: 200px; }
#sidebar-wrapper { z-index: 8; top: 0; left: 0;z-index: 0; width: 80px; height: 100%; position: fixed; background: #666; border: 0; border-radius: 0; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
    #sidebar-wrapper .sideMenuBg { padding: 82px 0 50px 0; height: 100%;transition: .3s ease all; }
    #sidebar-wrapper .sideMenuBg.sidenavsmall {padding: 50px 0 50px 0;transition: .3s ease all; }
.scrolldiv { height: 100%; }
#sidebar-wrapper::-webkit-scrollbar { display: none; }
.screenheight { overflow: hidden; }
#wrapper.toggled #sidebar-wrapper { left: 70px; }
#page-content-wrapper { width: 100%; padding-top: 70px; }
#wrapper.toggled #page-content-wrapper { position: absolute; margin-right: -220px; }
.hamburger { position: relative; top: 0; z-index: 999; display: block; width: 32px; height: 32px; margin-left: 15px; background: transparent; border: none; margin: 10px 20px 0 5px; }
    .hamburger:hover, .hamburger:focus, .hamburger:active { outline: none; }
    .hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom, .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom { position: absolute; left: 0; height: 2px; width: 100%; }
    .hamburger.is-closed .hamb-top, .hamburger.is-closed .hamb-middle, .hamburger.is-closed .hamb-bottom { background-color: #999; }
    .hamburger.is-closed .hamb-top { top: 6px; -webkit-transition: all .2s ease-in-out; }
    .hamburger.is-closed .hamb-middle { top: 50%; margin-top: -2px; }
    .hamburger.is-closed .hamb-bottom { bottom: 8px; -webkit-transition: all .2s ease-in-out; }
    .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-middle, .hamburger.is-open .hamb-bottom { background-color: #999; }
    .hamburger.is-open .hamb-top, .hamburger.is-open .hamb-bottom { top: 50%; margin-top: -2px; }
    .hamburger.is-open .hamb-top { -webkit-transform: rotate(45deg); -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08); }
    .hamburger.is-open .hamb-middle { display: none; }
    .hamburger.is-open .hamb-bottom { -webkit-transform: rotate(-45deg); -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08); }
    .hamburger.is-open:before { content: ''; display: block; width: 100px; font-size: 14px; color: #fff; line-height: 32px; text-align: center; opacity: 0; -webkit-transform: translate3d(0, 0, 0); -webkit-transition: all .35s ease-in-out; }
footer { background: #dee4ec; color: #696969; padding: 4px 15px; clear: both; font-size: 10px; }
.modal-content { box-shadow: 0 4px 20px rgba(91, 192, 225, 0.6); border: 0; border-radius: 0; }
.navbar-right .dropdown-menu { padding: 0; }
.dropdown.open > a:focus { text-decoration: none; }
.dropdown-menu { border: 0; border-radius: 0; }
    .dropdown-menu > li > a { padding: 8px; }
        .dropdown-menu > li > a .glyphicon, .dropdown-menu > li > a .lnr { margin-right: 10px; }
    .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus { background-color: #2a86a5; }
.tab-main-outer { margin: 10px 15px 0 30px; position: relative; bottom: -2px; }
    .tab-main-outer .nav > li { margin-right: 15px; }
        .tab-main-outer .nav > li > a { padding: 10px 30px; border-color: #f01e28 #f01e28 #2a86a5 #f01e28; background: transparent; color: #f01e28; }
    .tab-main-outer .nav-tabs > li.active > a, .tab-main-outer .nav-tabs > li.active > a:hover, .tab-main-outer .nav-tabs > li.active > a:focus { color: #fff; cursor: default; background-color: #2a86a5; border: 1px solid #2a86a5; border-bottom-color: transparent; }
    .tab-main-outer .nav > li > a:hover, .tab-main-outer .nav > li > a:focus { background-color: #fff; color: #f01e28; }
.nav > li > a:hover, .nav > li > a:focus { background-color: transparent; }
.table.table-theme td { padding: 15px; color: #444; }
.panel-heading h3 { margin: 0; color: #666; }
.x_panel { position: relative; width: 100%; margin-bottom: 10px; padding: 30px; box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25); display: inline-block; background: #fff; -webkit-column-break-inside: avoid; -moz-column-break-inside: avoid; column-break-inside: avoid; opacity: 1; transition: all .2s ease; }
.x_title { border-bottom: 1px solid #2a86a5; margin-bottom: 10px; }
    .x_title .filter { width: 40%; float: right; }
    .x_title h2 { margin: 3px 0; float: left; font-size: 20px; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; color: #5c5f62; }
        .x_title h2 small { margin-left: 10px; }
    .x_title h2 i.lnr { color: #5c5f62; margin: 0 6px 0 0; }
.x_content { padding: 0 5px 6px; position: relative; width: 100%; height: 100%; float: left; clear: both; margin-top: 5px; }
    .x_content h4 { font-size: 16px; font-weight: 500; }
    .x_footer{ padding-top: 15px; border-top: 1px solid #b9b9ba;clear: both;}
.panel_toolbox { float: right; }
    .panel_toolbox > li { float: left; cursor: pointer; margin-left: 2px; }
        .panel_toolbox > li a { padding: 2px 7px; color: #2a86a5; font-size: 14px; transition: .3s ease all;height: 22px;display: block; }
            .panel_toolbox > li a:hover { background: #F5F7FA; }
.popover { min-width: 220px; }
.sidebar-nav > li { position: relative; line-height: 20px; display: inline-block; width: 100%; border-bottom: 1px solid #e1e1e1; width: 220px; }
.sidebar-nav.nav > li > a:hover, .sidebar-nav.nav > li > a:focus { background: #fff; }
.sidebar-nav.nav > li > ul li a:hover, .sidebar-nav.nav > li > ul li a:hover { background: #f9f9f9; }
.sidebar-nav li a { font-size: 1em; color: #333; padding: 10px; }
    .sidebar-nav li a > span { margin-right: 10px; }
.btn_switch_outer { height: 20px; }
.btn_switch_label { float: left; margin: 2px 10px 0 0; color: #666; }
.btn_switch label { text-indent: -999px; margin: 0; float: right; width: 36px; height: 20px; background: #e5e5e5; border-radius: 15px; position: relative; cursor: pointer; }
    .btn_switch label:after { content: ' '; position: absolute; left: 2px; top: 2px; display: block; background: #fff; width: 16px; height: 16px; border-radius: 50%; -webkit-transition: all 0.25s linear; -moz-transition: all 0.25s linear; -o-transition: all 0.25s linear; transition: all 0.25s linear; box-shadow: 1px 1px 4px rgba(0,0,0,.4); }
.btn_switch input[type='checkbox']:checked + label { background: #90ba51; }
.btn_switch input { display: none; }
    .btn_switch input[type='checkbox']:checked + label:after { left: 18px; border-color: #799d43; }
.LeftSubMenuPanel { position: absolute; width: 300px; height: 100%; top: 0; left: -320px; background: #f9f9f9; box-shadow: 0 0px 8px 0 rgba(0,0,0,0.25); padding: 85px 10px 40px; transition: .5s ease all; }
#LeftPercentagePanel.LeftSubMenuPanel { z-index: 8; width: 400px; left: -420px; }
.LeftSubMenuPanel.open { left: 220px; }
#LeftPercentagePanel.LeftSubMenuPanel.active { left: 0; }
.righ-panel { position: absolute; width: 340px; height: 100%; top: 0; right: -360px; background: #f9f9f9; box-shadow: 0 0px 8px 0 rgba(0,0,0,0.25); padding: 75px 10px 40px; transition: .5s ease all; }
    .righ-panel.open { right: 0; }
.nav.nav-pills.nav-stacked.navright li a { color: #5c5f62; border-radius: 0; }
    .nav.nav-pills.nav-stacked.navright li a:hover { color: #5c5f62; background: #fff; }
    .nav.nav-pills.nav-stacked.navright li a span, .nav.nav-pills.nav-stacked.navright li div > span { width: 25px; display: inline-block; }
.blocker { position: absolute; background: rgba(0, 0, 0, 0.3); top: 0; right: 0; bottom: 0; left: 0; display: none; }
    .blocker.block { display: block; }
.tooltip .tooltip-inner { background-color: #2a86a5; border-radius: 2px; }
.tooltip.top .tooltip-arrow { border-top-color: #2a86a5; }
.tooltip.right .tooltip-arrow { border-right-color: #2a86a5; }
.tooltip.bottom .tooltip-arrow { border-bottom-color: #2a86a5; }
.tooltip.left .tooltip-arrow { border-left-color: #2a86a5; }
.footer { padding: 25px 0; font-size: 10px; margin: 0; color: #474747; width: 100%;border-top: 1px solid #ccc; }
.userimg { width: 120px; height: 120px; border-radius: 50%; margin: 0 auto 10px; overflow: hidden; }
.widget01{ padding: 20px; border: 1px solid #ccc; background: #f9f9f9; margin-bottom: 10px }
.widget01 .numbers{ font-size: 36px; color: #888;margin: 0; }
.widget01 .numbers .desc{ font-size: 22px;margin-left: 10px}
.widget01 .numbers .lnr{ float: right; padding: 7px; color: #ccc}
.nav.nav_box li{     float: left;
    text-align: center;margin: 0 15px 15px 0;
    }
    .nav.nav_box li a {
        color: #fff;
        background: #6bc7e7;border-radius: 6px;
        min-width: 150px;
        min-height: 150px;
    }
    .nav.nav_box li a .nav-icon{margin: 15px 0;width: 60px; }
    .nav.nav_box li a:hover{    background: #2a86a5;
        transition: .5s ease all;}
.searchbox, .searchbox:focus{border: 1px solid #fff;background: transparent;color: #fff;}        
@media (max-width: 1024px) {
    .userimg { width: 60px; height: 60px; }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .pad60 { padding: 20px; }
    .loginouter { margin: 10px 0 0; }
    .box, .x_panel {padding: 10px; }
    #wrapper .wrapper { padding: 100px 0px 10px 15px;}
}

@media (max-width: 480px) {
}

.dndhere{ text-align: center; padding: 36px; border: 2px dashed #ddd;}
.dndhere:hover{border: 2px dashed #2a86a5;}
.text-or{ text-align: center; margin: 70px auto; padding: 15px; background: #eee; width: 50px; height: 50px; border-radius: 50%}
.stepwizard p {    margin-top: 10px;}
.stepwizard .nav.nav-tabs {border: 0;}
.stepwizard .nav.nav-tabs li { padding-right: 10%; position: relative}
.stepwizard .nav.nav-tabs li:before{ content:''; height: 1px; width: 100%; position: absolute; top: 20px; background: #ddd }
.stepwizard .nav.nav-tabs li:last-child:before {background: #fff}
.stepwizard .nav.nav-tabs li .btn.btn-circle{ width: 40px; height: 40px; border-radius: 50%; border: 1px solid #2a86a5;color: #2a86a5; background: #f1f1f1; font-weight:bold }
.stepwizard .nav.nav-tabs li.active .btn.btn-circle{color: #fff; background: #2a86a5}
.stepwizard .nav.nav-tabs li .btn.btn-circle:hover {color: #222; background: #ccc}
